<html>
  <head>
    <title>Quora Clone</title>
    
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="css/application.css">
  </body>

  </head>
  <body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#">Quora Clone</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <% if current_user %>
      <li class="nav-item active">
        <a class="nav-link" href="/logout">Log Out<span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" href=<%="/profile/#{@current_user}"%>>Back to Profile<span class="sr-only">(current)</span></a>
      </li>
  <%else%>
    <%if @current_user == 'sign_up' %>
      <li class="nav-item active">
        <a class="nav-link" href="/log_in">Log In<span class="sr-only">(current)</span></a>
      </li>
    <%elsif @current_user == 'log_in'%>
      <li class="nav-item active">
        <a class="nav-link" href="/sign_up">Sign Up<span class="sr-only">(current)</span></a>
      </li>
    <%else%>
      <li class="nav-item active">
        <a class="nav-link" href="/log_in">Log In<span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" href="/sign_up">Sign Up<span class="sr-only">(current)</span></a>
      </li>
    <%end%>
  <%end%>
      
      
    </ul>
  </div>
</nav>
<% if current_user %>
    <%flash.each do |attr,msg| %>
      <div class="alert alert-dark" role="alert">
        <%=msg%>
      </div>
      <%end%>
<%end%>

<div class="container">
    <%= yield %>
</div>

   
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js" integrity="sha384-smHYKdLADwkXOn1EmN1qk/HfnUcbVRZyYmZ4qpPea6sjB/pTJ0euyQp0Mk8ck+5T" crossorigin="anonymous"></script>
<script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
</html>


