<html>
  <head>
    <title>Quora Clone</title>
    
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    
    <link rel="stylesheet" type="text/css" href="css/application.css">
  </head>
  <body>
  <% if current_user %>
    <div><a href="/logout">Log Out</a><a href=<%="/profile/#{@current_user}"%>>Back to Profile</a></div>
    <%flash.each do |attr,msg| %>
      <div><%=msg%></div>
    <%end%>
  <%else%>
    <%if @current_user == 'sign_up' %>
      <a href="/log_in">Log In</a>
    <%elsif @current_user == 'log_in'%>
      <a href="/sign_up">Sign Up</a>
    <%else%>
      <a href="/log_in">Log In</a>
      <a href="/sign_up">Sign Up</a>
    <%end%>
  <%end%>

    <%= yield %>

  </body>
</html>


