
<div class="row">

	<div class="col-6">
		<h3><%="Welcome #{session[:username]}"%></h3>

		<form method="post">
			<textarea rows="6" cols="50" name="question[content]" placeholder="Post your question here......."></textarea>
			<button type="submit">Post</button>
		</form>
	</div>

	<div class="col-6">
		<% @questions.each do |question|%>

			<div>
				<div><%=question.question[0..20] + "....."%></div>
				<div>created_at:<%=" #{question.created_at.to_date}  #{question.created_at.strftime('%H : %M')}"%></div>
				<div><a href=<%="/questions/#{question.id}"%>>Read More</a></div>
			</div>
		
		<%end%>
	</div>

</div>